# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging

build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyCharm specific
.idea/
*.iml

# Streamlit specific
.streamlit/

# Other
.DS_Store
.env
venv/
*.pyc
.ipynb_checkpoints

# Directories
Library/
Scripts/
etc/

# Specific files (adjust if you have others like this)
*.dll
*.pdb
*.spv
*.exe
*.json